doctype html
html
  head
    title Register
  body
    h1 Register
    form(action='/auth/register', method='post')
      div
        label(for='username') Username:
        input(type='text', name='username', required)
      div
        label(for='password') Password:
        input(type='password', name='password', required)
      div
        input(type='submit', value='Register')
    p(style='color:red;') #{messages.error}
